<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="images/logo.PNG" type="images/x-icons">
    <link rel="stylesheet" href="css/home.css">
    <img src="/images/logo-mercado-liebre.svg" alt="">

</head>

<body>
    <header>

        <h1>lugar para poner la barra de busqueda</h1>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>

        <nav>
            <ul>
                <a href="/"></a>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas oficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li> <br />

                <li><a href="/crea tu cuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="/mis compras">Mis compras</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="" width="350">

        <section class="BASADO EN TU ULTIMA VISITA">
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="350">
                <p>$6.770</p>
                <p>40% Off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="350">
                <p>$230.000</p>
                <p>20% Off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="350">
                <p>$70.500</p>
                <p>10% Off</p>
                <H4>Samsung Galaxy S10</H4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="350">
                <p>$23.200</p>
                <p>5% Off</p>
                <h4>Smart Tv Samsung 43"</h4>
            </article>
        </section>

        <section class="Ofertas">
            <h3>Sección en ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="350">
                <p>$6.770</p>
                <p>40% Off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="350">
                <p>$230.000</p>
                <p>20% Off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="350">
                <p>$70.500</p>
                <p>10% Off</p>
                <H4>Samsung Galaxy S10</H4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="350">
                <p>$23.200</p>
                <p>5% Off</p>
                <h4>Smart Tv Samsung 43"</h4>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjetas o en efectivo</h3>
            <p>Con MercadoLiebreCash ténes cuotas<br />
                sin interes con tarjetas o efectivo en puntos<br />
                de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h3>Envío gratis desde los$ 2500</h3>
            <P>Solo por estar registrado en Mercado Liebre<br />
                tenés envios gratis en miles de productos.Es<br />
                un beneficio de Mercado Puntos.</P>
        </section>

        <section>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te guste? ¡Devolvelo! En mercado Liebre<br />
                no hay nada que nos pueda hacer porque estás<br />
                siempre protegid@.</p>
        </section>

        <section>
            <p>Copinght &#169 1999-2020 Mercado-Liebre SRL</p>
        </section>

    </footer>

</body>

</html>