.header{
    background-color: var(--Amarillo);
    padding-bottom: 30px;
}

.header img {
    width: 50%;
}
.header  form{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.header form input{
    width:87%;
}


.header .lupa i {
    font-size: 12px;
    background-color: #ebebeb;
    color: black;
   
}

.header h3{
 text-align: center;
 font-size: 12px;
 margin: 10px 0;
}

.header .listas {
   display: none;
}

.header nav ul li a {
    list-style: none; 
    color:black;  
    
    text-decoration: none;
    font-size: 12px;
}
.header .icon{
    margin: 0px 5px;

}
.header .burger {
    text-align: center;
}
.header .burger i{
    font-size: 16px;
    background-color: var(--Celeste);
    color: #ebebeb;
    padding: 10px;
    border-radius:  5px;
}
@media(min-width: 361px){
    .header .listas {
        display: block;
        margin-left: 10px;
        
     }
    .header .burger{
        display: none;
    }

}



